* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #023047;
}

img {
    max-width: 100%;
    height: auto;
}

.card {
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.name,
.date {
    line-height: 15px;
}

.date {
    font-size: 0.8rem;
    font-weight: 600;
}

.card_body>.description {
    font-size: 1rem;
    font-weight: 600;
    line-height: 22px;
}

.card_engagement>.like {
    color: #404040;
    font-size: 1.2rem;
    font-weight: 700;
}

.card_engagement>.likers {
    font-size: 1.2rem;
    font-weight: 500;
}

@media screen and (min-width: 576px) {
    .cols {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {
    .cols {
        width: 65%;
    }
}

@media screen and (min-width: 1200px) {
    .cols {
        width: 55%;
    }
}